<!DOCTYPE html>
<html style="height: 100%;" lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>index</title>
    <script src="~/js/vue.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/js/jquery-treeview-master/jquery.treeview.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/layer/layer.js"></script>
    <script src="~/js/jquery-treeview-master/demo/jquery.cookie.js"></script>
    <script src="~/js/jquery-treeview-master/jquery.treeview.js"></script>
    <style type="text/css">
        table.dlg tr td {
            padding-top: 2px;
            padding-bottom: 2px;
        }

        a {
            cursor: pointer;
        }

        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="container">
            <div style="margin-top:10px;">
                关键字:
                <input type="text" v-model="keyword" />
                <input type="button" class="btn btn-primary" value="查询" v-on:click="search" />
                @*<input type="button" class="btn btn-primary" value="添加" v-on:click="showAdd" />*@
            </div>

            <table v-cloak style="margin-top:10px;" class="table table-condensed table-bordered table-striped table-hover">
                <tr>
                    <th>ID</th>
                    <th>用户名</th>
                    <th>操作</th>
                </tr>
                <tr v-for="(item,i) in list_data" :key="item.Id">
                    <td>{{item.id}}</td>
                    <td>{{item.userName}}</td>
                    <td>
                        @*<a v-on:click="showEidt(item)">编辑</a>*@
                        @*&nbsp;*@
                        <a v-on:click="showConfigUserPermissionDlg(item.id)">设置权限</a>
                        &nbsp;
                        <a v-on:click="showConfigUserRoleDlg(item.id)">设置角色</a>
                        @*&nbsp;<a v-on:click="deleteMenu(item.id)">删除</a>*@
                    </td>
                </tr>
            </table>


        </div>
        <div id="dlg" style="display:none;">
            <table class="dlg" style="width:280px;margin:10px auto 0 auto;">
                <tr>
                    <td>名称:</td>
                    <td><input type="text" v-model="dlg_data.roleName" /></td>
                </tr>
            </table>
        </div>

        <div id="dlg_user_permission_set" style="display:none;">
            <ul class="role_ul" style="padding-left:15px;" id="role_per_ul"></ul>
        </div>

        <div id="dlg_user_role_set" style="display:none;">
            <ul class="user_role_ul" style="padding-left:15px;" id="user_role_ul"></ul>
        </div>

    </div>



    <script type="text/javascript">

        var vue = new Vue({
            el: '#app',
            data: {
                list_data: [],
                dlg_data: {},
                keyword: ''
            },
            methods: {
                getdata: function () {
                    $.post('../api/Role/GetUserList', { 'keyword': this.keyword }, function (res) {
                        if (res.success) {
                            vue.list_data = res.data;
                        } else {
                            layer.msg(res.message);
                        }
                    });
                },
                showAdd: function () {
                    this.dlg_data = {};
                    this.showDlg('add');
                },
                showDlg: function (mode) {
                    //layer.open({
                    //    type: 1,
                    //    title: mode == 'add' ? '添加' : '编辑',
                    //    content: $('#dlg'),
                    //    area: ['400px', '150px'],
                    //    btn: ['确定', '取消'],
                    //    yes: function (idx, kyo) {
                    //        var url = mode == 'add' ? '../api/Role/AddRole' : '../api/Role/EditRole';
                    //        $.post(url, vue.dlg_data, function (res) {
                    //            if (res.success) {
                    //                layer.msg(res.message);
                    //                layer.close(idx);
                    //                vue.dlg_data = {};
                    //                vue.getdata();
                    //            } else {
                    //                layer.msg(res.message);
                    //            }
                    //        });
                    //    },
                    //    btn2: function (idx, k) {
                    //        layer.close(idx);
                    //    }
                    //});

                },
                showEidt: function (item) {
                    this.dlg_data = $.extend({}, item);
                    this.showDlg('edit');
                },
                search: function () {
                    this.getdata();
                },
                initConfigUserPermissionDlg: function (userid) {
                    var ajaxCount = 0;
                    var userPermissionData = [];

                    var afterList = function () {
                        for (var i = 0; i < userPermissionData.length; i++) {
                            $('#dlg_user_permission_set input[type="checkbox"][value="' + userPermissionData[i] + '"]').prop('checked', true);
                        }
                    }

                    $.post('../api/Role/GetPermissionList', { 'keyword': '' }, function (res) {
                        if (res.success) {
                            var data = res.data;
                            var len = data.length;
                            var str = '';
                            var rootids = [];
                            var dict = new Array();
                            for (var i = 0; i < len; i++) {
                                dict[data[i].id] = i;
                                data[i].children = [];
                            }
                            for (var i = 0; i < len; i++) {//二维结构转化为树形结构
                                var pid = data[i].parentPermissionId;
                                if (pid != 0) {
                                    var idx = dict[pid];
                                    data[idx].children.push(i);
                                } else {
                                    rootids.push(i);
                                }
                            }
                            var deep = 0;
                            var f_push = function (perIndex) {
                                str += '<li class="1Child' + deep + '" ><input type="checkbox" value="' + data[perIndex].id + '" />' + data[perIndex].permissionDisplayName;
                                var children = data[perIndex].children;
                                if (children) {
                                    var l = children.length;
                                    if (l > 0) {
                                        str += '<ul>';
                                        deep++;
                                        for (var h = 0; h < l; h++) {
                                            f_push(children[h]);
                                        }
                                        str += '</ul>';
                                        deep--;
                                    }
                                }
                                str += '</li>';
                            }
                            var rootidslen = rootids.length;
                            for (var j = 0; j < rootidslen; j++) {
                                f_push(rootids[j]);
                            }
                            $('#role_per_ul').empty().append($(str));
                            $('#role_per_ul').treeview();
                            ajaxCount++;
                            if (ajaxCount == 2) {
                                afterList();
                            }
                        } else {
                            console.log(success.message);
                        }
                    });

                    $.post('../api/Role/GetUserPermission', { 'id': userid }, function (res) {
                        if (res.success) {
                            userPermissionData = res.data;
                            ajaxCount++;
                            if (ajaxCount == 2) {
                                afterList();
                            }
                        } else {
                            console.log(res.message);
                        }
                    })
                },
                showConfigUserPermissionDlg: function (userid) {
                    this.initConfigUserPermissionDlg(userid);
                    layer.open({
                        type: 1,
                        title: '用户权限设置',
                        area: ['400px', '600px'],
                        content: $('#dlg_user_permission_set'),
                        btn: ['保存', '关闭'],
                        yes: function (idx) {
                            var ids = [];
                            $('#dlg_user_permission_set input[type="checkbox"]').each(function (i, v) {
                                if ($(v).is(":checked")) {
                                    ids.push($(v).val());
                                }
                            });
                            $.post('../api/Role/EditUserPermission', { 'userid': userid, 'perstrs': ids.join('|') }, function (res) {
                                if (res.success) {
                                    layer.msg('保存成功');
                                    layer.close(idx);
                                } else {
                                    console.log(res.message);
                                }
                            });
                        },
                        btn2: function (idx) {
                            layer.close(idx);
                        }
                    });

                },
                showConfigUserRoleDlg(id) {
                    var ajaxCount = 0;
                    var userRoleData = [];
                    var after = function () {
                        for (var i = 0; i < userRoleData.length; i++) {
                            $('#dlg_user_role_set input[type="checkbox"][value="' + userRoleData[i] + '"]').prop('checked', true);
                        }
                    }
                    $.post('../api/Role/GetRoleList', { 'keyword': '' }, function (res) {
                        if (res.success) {
                            var $ul = $('#user_role_ul');
                            var str = '';
                            var data = res.data;
                            for (var i = 0; i < data.length; i++) {
                                str += '<li><input type="checkbox" value="' + data[i].id + '" />' + data[i].roleName + '</li>';
                            }
                            $ul.empty().append($(str));
                            $ul.treeview();
                            ajaxCount++;
                            if (ajaxCount == 2) {
                                after();
                            }
                        } else {
                            console.log(res.message);
                        }
                    });
                    $.post('../api/Role/GetUserRole', { 'id': id }, function (res) {
                        if (res.success) {
                            userRoleData = res.data;
                            console.log(res.data);
                            ajaxCount++;
                            if (ajaxCount == 2) {
                                after();
                            }
                        } else {
                            console.log(res.message);
                        }
                    });
                    layer.open({
                        type: 1,
                        content: $('#dlg_user_role_set'),
                        title: '设置用户角色',
                        area: ['400px', '600px'],
                        btn: ['保存', '关闭'],
                        yes: function (idx) {
                            var ids = [];
                            $('#dlg_user_role_set input[type="checkbox"]').each(function (i, v) {
                                if ($(v).is(":checked")) {
                                    ids.push($(v).val());
                                }
                            });
                            $.post('../api/Role/EditUserRole', { 'userid': id, 'roleidstrs': ids.join('|') }, function (res) {
                                if (res.success) {
                                    layer.msg('保存成功');
                                    layer.close(idx);
                                } else {
                                    console.log(res.message);
                                }
                            });
                        },
                        btn2: function (idx) {
                            layer.close(idx);
                        }
                    });
                }
            },
            created: function () {
                this.getdata();
            }
        });

        function isInteger(obj) {

            return parseInt(obj) == obj;
        }
    </script>
</body>

</html>