@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>首页</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/vue.min.js"></script>
    <script src="~/js/ck/ckplayer/ckplayer.js"></script>
    <script src="~/js/layer/layer.js"></script>
    <script src="~/js/md5.js"></script>
    <style>

        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: #F5F5F5;
        }

        ::-webkit-scrollbar {
            width: 6px;
            background-color: #F5F5F5;
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #ccc;
        }



        a {
            text-decoration: none;
        }

        .left {
            padding-top: 65px;
            width: 13%;
            float: left;
            height: 800px;
            overflow-y: hidden;
        }

        .content {
            padding-top: 65px;
            float: left;
            /*width: 66.6%;*/
        }

        .right {
            padding-top: 65px;
            float: right;
            min-width: 364px;
            padding-right: 40px;
        }

        .txt {
            box-sizing: content-box;
            resize: none;
            float: left;
            width: 252px;
            height: 47px;
            padding: 5px 13px 5px 13px;
            line-height: 20px;
            font-size: 12px;
            background: #fff;
            border: 1px solid #ff921a;
            border-right: 0;
            -webkit-border-radius: 4px 0 0 4px;
            -moz-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
            color: #444;
            outline: none;
            overflow: hidden;
        }

        .send {
            display: block;
            width: 43px;
            height: 59px;
            line-height: 59px;
            -webkit-border-radius: 0 4px 4px 0;
            -moz-border-radius: 0 4px 4px 0;
            border-radius: 0 4px 4px 0;
            background: #f70;
            color: #fff;
            font-size: 14px;
            float: left;
            text-align: center;
            cursor: pointer;
        }

        .Barrage-content {
            color: #333;
            word-break: break-all;
            word-wrap: break-word;
            vertical-align: middle;
        }

        .Barrage-list {
            padding-left: 10px;
            overflow: hidden;
            width: 100%;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .Barrage-listItem {
            position: relative;
            line-height: 21px;
            word-break: break-all;
            word-wrap: break-word;
            margin-bottom: 8px;
            margin-top: 8px;
            font-size: 13px;
        }

        .navbar-header a:hover {
            color: rgba(255,93,35,1);
        }

        .a_rightTop {
            font-size: 16px;
            line-height: 50px;
            color: #555;
            text-decoration: none;
        }

            .a_rightTop:hover {
                text-decoration: underline;
                color: rgba(255,93,35,1);
            }

            .a_rightTop:visited {
                color: #555;
            }

        .color_select {
            margin-top: 4px;
            float: left;
            line-height: 18px;
            height: 18px;
            border-style: solid;
            width: 18px;
            margin-right: 5px;
            border-radius: 4px;
        }

            .color_select.active {
                /*border: 1px solid #ffd800 !important;*/
                width: 20px;
                height: 20px;
                margin-top: 2px;
            }

        .Title-categoryList {
            padding-top: 1px;
            color: #555;
            font-size: 12px;
            overflow: hidden;
            height: 20px;
            float: left;
            margin-right: 7px;
            clear: both;
        }



        .Title-categoryItem {
            float: left;
            vertical-align: top;
            height: 18px;
            line-height: 18px;
            font-size: 11px;
            color: #838c9a;
            cursor: pointer;
            text-decoration: none;
        }

            .Title-categoryItem:hover {
                border-color: #f60;
                border-top-color: rgb(255, 102, 0);
                border-right-color: rgb(255, 102, 0);
                border-bottom-color: rgb(255, 102, 0);
                border-left-color: rgb(255, 102, 0);
                color: #f60;
                text-decoration: none;
            }

        #AnchorName {
            color: #555;
            font-size: 14px;
            line-height: 20px;
            height: 20px;
        }

            #AnchorName:hover {
                border-color: #f60;
                border-top-color: rgb(255, 102, 0);
                border-right-color: rgb(255, 102, 0);
                border-bottom-color: rgb(255, 102, 0);
                border-left-color: rgb(255, 102, 0);
                color: #f60;
                text-decoration: none;
            }

        .guanzhu {
            float: right;
            width: 75px;
            height: 30px;
            border-color: rgb(255, 136, 0);
            margin-top: 15px;
            margin-right: 15px;
            background-color: #f80;
            line-height: 30px;
            color: white;
            text-align: center;
            border-radius: 15px;
            cursor: pointer;
        }

        .yiguanzhu {
            float: right;
            width: 75px;
            height: 30px;
            border-color: #bdb6ae;
            margin-top: 15px;
            margin-right: 15px;
            background-color: #bdb6ae;
            line-height: 30px;
            color: white;
            text-align: center;
            border-radius: 15px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container" style="width:75%;">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">首页</a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" style="color: rgba(255,93,35,1);" href="#">直播</a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#">分类</a>
            </div>
            <div style="float:right;">
                <a href="javascript:;" class="a_rightTop" id="a_login" style="" onclick="ShowLoginDlg()">登录</a>
                <span id="_shuxian" style="font-size: 16px;line-height: 50px;">|</span>
                <a href="javascript:;" class="a_rightTop" id="a_reg" onclick="ShowRegDlg()">注册</a>
                <a href="javascript:;" class="a_rightTop" id="a_user" style="display:none;margin-right:10px;"></a>
                <a href="javascript:;" class="a_rightTop" id="a_logout" style="display:none;">退出</a>
            </div>
        </div>
    </nav>
    <div class="left" id="left"></div>
    <div class="content">

        <div style="height:92px;margin-bottom:10px; width:100%;border:1px solid #e5e4e4" id="title">
            <div style="float:left;">
                <img id="ancorPic" style="width:92px;height:92px;" src="~/upload/faa711e232041d7525a1bd695bf8fa8e_middle.jpg" />
            </div>
            <div id="divRoomInfo" style="max-width: 787px;padding-left:10px;float:left;">
                <div id="TitleHeadLine" style="font-family: Microsoft Yahei,-apple-system,sans-serif;font-size: 12px;line-height: 1.5;padding-top:3px;">
                    <h3 id="roomTitle" style="font-size: 18px;line-height: 30px;float:left;color:#2c3e50;font-weight: bolder;margin: 0;">房间标题</h3>
                </div>
                <div id="categoryList" class="Title-categoryList">
                    <a class="Title-categoryItem">网游竞技</a>
                </div>
                <div class="Title-categoryList" style="height:26px;">
                    <a id="AnchorName" class="Title-categoryItem">主播名称</a>
                </div>
            </div>
            <div id="guanzhu" class="guanzhu">关注</div>
        </div>

        <div id="video" class="video" style="width: 100%;"></div>

    </div>
    <div class="right" id="right">
        <div style="border:1px solid #e5e4e4;width:334px;height:775px;margin-left:15px;overflow-y:auto;" id="labChat">
            <ul id="BarrageList" style="list-style: none;" class="Barrage-list"></ul>
        </div>
        <div style="border:1px solid #e5e4e4;width:334px;height:95px;margin-left:15px;border-top:none;">
            <div style="padding-left:5px;height:15px;">
                <div class="color_select active" style="background-color: #000000;border-color:#000000;" color="#000000"></div>
                <div class="color_select" style="background-color: #ff0000;border-color:#ff0000;" color="#ff0000"></div>
                <div class="color_select" style="background-color: #0000ff;border-color:#0000ff;" color="#0000ff"></div>
                <div class="color_select" style="background-color: #9370db;border-color:#9370db;" color="#9370db"></div>
                <div class="color_select" style="background-color: #ff921a;border-color:#ff921a" color="#ff921a"></div>
                <div class="color_select" style="background-color: #f2dede;border-color:#f2dede;" color="#f2dede"></div>
                <div class="color_select" style="background-color: #9370db;border-color:#9370db;" color="#9370db"></div>
                <div class="color_select" style="background-color: #4caf50;border-color:#4caf50;" color="#4caf50"></div>
                <div class="color_select" style="background-color: #ffd800;border-color:#ffd800;" color="#ffd800"></div>
                <div class="color_select" style="background-color: #FF7700;border-color:#FF7700;" color="#FF7700"></div>
                <div class="color_select" style="background-color: #00ffff;border-color:#00ffff;" color="#00ffff"></div>
                <div class="color_select" style="background-color: #ff00dc;border-color:#ff00dc;" color="#ff00dc"></div>
                <div class="color_select" style="background-color: #ff006e;border-color:#ff006e;" color="#ff006e"></div>
                <div class="color_select" style="background-color: #ffd800;border-color:#ffd800;" color="#ffd800"></div>
            </div>
            <div style="padding-top:13px;padding-left:5px;">
                <textarea placeholder="这里输入聊天内容" maxlength="22" class="txt"></textarea>
                <div type="button" id="btnsend" class="send">发送</div>
            </div>

        </div>
    </div>

    <div style="display:none;" id="divLoginAndReg">
        <div style="text-align:center;display:none;width:92%;margin:10px auto 0 auto;" id="divReg">
            <div class="form-horizontal  ">
                <div class="form-group">
                    <span class="col-sm-3 control-label">用户名</span>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="txtRegUser" />
                    </div>
                </div>
                <div class="form-group">
                    <span class="col-sm-3 control-label">密码</span>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="txtRegPass" />
                    </div>
                </div>
                <div class="form-group">
                    <span class="col-sm-3 control-label">确认密码</span>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="txtRegPass2" />
                    </div>
                </div>
            </div>

            <input class="btn btn-block  btn-info" type="button" id="btnReg" value="注册" />
        </div>

        <div style="text-align:center;width:92%;margin:10px auto 0 auto;" id="divLogin">
            <div class="form-horizontal ">
                <div class="form-group">
                    <span class="col-sm-3 control-label">用户名</span>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="txtLoginUser" />
                    </div>
                </div>
                <div class="form-group">
                    <span class="col-sm-3 control-label">密码</span>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="txtLoginPass" />
                    </div>
                </div>
                <div class="form-group">
                    <span class="col-sm-3 control-label">
                        验证码
                    </span>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="validCode" />
                    </div>
                    <div class="col-sm-4">
                        <img src="../api/User/VerificationCode?seed=123" onclick="this.src+='1'" alt="验证码" title="点击换一个" />
                    </div>

                </div>
            </div>
            <input class="btn btn-block btn-info" type="button" id="btnLogin" value="登录" />
        </div>
    </div>
    <script type="text/javascript">


        var roomId = @ViewBag.ID;
        var user = '@ViewBag.User';
        user = unescape(user.replace(/&#x/g, '%u').replace(/;/g, ''));
       // console.log(roomId);
        var nowI = 5;
        var effectName = 'None',
            typeName = 'easeOut';
        var speed = 10;
        var attribute = 'x';
        var start = 0,
            end = 0;
        var animatePosition = [];
        var alpha = 1;
        var fontSize = 20;
        var BarrageColor = '#000000';


        function getStyle(obj, styleName) {
            if (obj.currentStyle) { return obj.currentStyle[styleName]; } else {
                return getComputedStyle(obj, null)[styleName];
            }
        }
        function resize() {
            var ww = document.body.clientWidth;
            var lw = parseInt(getStyle(document.getElementById('left'), 'width'));
            var rw = parseInt(getStyle(document.getElementById('right'), 'width'));
            var rh = parseInt(getStyle(document.getElementById('right'), 'height'));
            var v = document.getElementById('video');
            var r = ww - lw - rw - 1 + 'px';
            v.style.height = rh - 99 -  67 + 'px';
            v.style.width = r;
            document.getElementById('title').style.width = r;
        }

        resize();
        window.onresize = resize;

        var videoObject = {
            container: '.video',//“#”代表容器的ID，“.”或“”代表容器的class
            variable: 'player',//该属性必需设置，值等于下面的new chplayer()的对象
            autoplay: true,//自动播放
            loaded: 'loadedHandler',
            live: true,//直播视频形式
            video: 'rtmp://127.0.0.1:1935/live/' + roomId,//视频地址 rtmp://127.0.0.1:1935/live/123,

        };
        var player = new ckplayer(videoObject);

        var playerLoad = false;
        function loadedHandler() { //播放器加载后会调用该函数
            playerLoad = true;
        }

        function randomNum(minNum, maxNum) {
            switch (arguments.length) {
                case 1:
                    return parseInt(Math.random() * minNum + 1, 10);
                    break;
                case 2:
                    return parseInt(Math.random() * (maxNum - minNum + 1) + minNum, 10);
                    break;
                default:
                    return 0;
                    break;
            }
        }

        function newAnimate(barrageObj) {
            if (!playerLoad) {
                //alert('播放器还没有加载，不能添加缓动');
                return;
            }
            alpha = 1;
            //nowI += 30;
            nowI = 5 + randomNum(1, 15) * 30;
            switch (attribute) {
                case 'x':
                    animatePosition = [2, 0, 0, nowI];
                    break;
                case 'y':
                    animatePosition = [0, 2, nowI, 0];
                    break;
                case 'alpha':
                    animatePosition = [0, 0, nowI, nowI];
                    alpha = 0;
                    break;
            }
            var c = barrageObj.color.replace('#', '0X')
            if (c == '0X000000') c = '0XFFFFFF';//黑色变白色处理
            var obj = {
                list: [ //list=定义元素列表
                    {
                        type: 'text', //说明是文本
                        text: barrageObj.message, //文本内容
                        color: c, //文本颜色
                        size: fontSize, //文本字体大小，单位：px
                        font: '"Microsoft YaHei", YaHei, "微软雅黑", SimHei,"\5FAE\8F6F\96C5\9ED1", "黑体",Arial', //文本字体
                        leading: 30, //文字行距
                        alpha: 1, //文本透明度(0-1)
                        paddingLeft: 10, //文本内左边距离
                        paddingRight: 10, //文本内右边距离
                        paddingTop: 0, //文本内上边的距离
                        paddingBottom: 0, //文本内下边的距离
                        marginLeft: 0, //文本离左边的距离
                        marginRight: 10, //文本离右边的距离
                        marginTop: 10, //文本离上边的距离
                        marginBottom: 0, //文本离下边的距离
                        backgroundColor: '0x000000', //文本的背景颜色
                        backAlpha: 0.1, //文本的背景透明度(0-1)
                        backRadius: 30, //文本的背景圆角弧度
                        //clickEvent: "actionScript->videoPlay"
                    }
                ],
                //x: 10, //元件x轴坐标，注意，如果定义了position就没有必要定义x,y的值了，x,y支持数字和百分比，使用百分比时请使用单引号，比如'50%'
                //y: 50, //元件y轴坐标
                //position:[1,1],//位置[x轴对齐方式（0=左，1=中，2=右），y轴对齐方式（0=上，1=中，2=下），x轴偏移量（不填写或null则自动判断，第一个值为0=紧贴左边，1=中间对齐，2=贴合右边），y轴偏移量（不填写或null则自动判断，0=紧贴上方，1=中间对齐，2=紧贴下方）]
                position: animatePosition,
                alpha: alpha, //元件的透明度
                //backgroundColor: '0xFFDD00', //元件的背景色
                backAlpha: 0.5, //元件的背景透明度(0-1)
                backRadius: 60, //元件的背景圆角弧度
                // clickEvent: "actionScript->videoPlay"
            }
            var ele = player.addElement(obj);
            var eleObj = player.getElement(ele);
            switch (attribute) {
                case 'x':
                    start = null;
                    end = 0 - eleObj['width'];
                    break;
                case 'y':
                    start = '85%';
                    end = 0 - eleObj['height'];
                    break;
                case 'alpha':
                    start = 0;
                    end = 1;
                    alpha = 0;
                    break;
            }
            //if (nowI > 160) {
            //    nowI = 5;
            //}
            var obj = {
                element: ele,
                parameter: attribute,
                static: true, //是否禁止其它属性，true=是，即当x(y)(alpha)变化时，y(x)(x,y)在播放器尺寸变化时不允许变化
                effect: effectName + '.' + typeName,
                start: start,
                end: end,
                speed: speed,
                overStop: true,
                pauseStop: true,
                callBack: 'deleteChild'
            };
            var animate = player.animate(obj);
        }

        function deleteChild(ele) {
            if (player) {
                window.setTimeout(function () {
                    player.deleteElement(ele);
                }, 1000);

            }
        }
        //var user = '帅哥' + randomNum(0, 1000);

        var ws = null;
        var _isMyReconnet = false;
        function initWS() {
            w = new WebSocket('ws://localhost:5000/ws?user=' + user + '&roomid=' + roomId);
            w.onmessage = function (evt) {
                var s = evt.data;
                var obj = JSON.parse(s);

                addMessage(obj.sender + "&nbsp;:&nbsp;" + obj.message ,obj.color );
                newAnimate(obj);
            };
            w.onopen = function () {
                addMessage('成功连接弹幕服务器……','rgba(255,93,35,0.9)');
                _isMyReconnet = false;
            };
            w.onclose = function () {
                console.log('与弹幕服务失去连接……');
                //initWS();
            };
            w.onerror = function (evt) {
                console.log(JSON.stringify(evt));
                if (!_isMyReconnet) {
                    initWS();
                }
            }
            //addMessage('正在连接弹幕服务器……', 'rgba(255,93,35,0.9)');
            ws = w;
        }

        function addMessage(str, color) {
            if (!color) color = '#FFFFFF';
            var $BarrageList = $('#BarrageList');
            $BarrageList.append($('<li class="Barrage-listItem"><span class="Barrage-content" style="color:' + color + ';">' + str + '</span>)'));
            var labchat = document.getElementById('labChat');
            labchat.scrollTop = labchat.scrollHeight;
        }

        $(function () {

            initWS();

            $('#btnsend').click(function () {
                var s = $('.txt').val();
                if (user == '') {
                    ShowLoginDlg();
                    return;
                }
                $('.txt').val('');
                if (s == '') return;
                if (ws && ws.readyState == WebSocket.OPEN) {
                    var obj = {};
                    obj.message = s;
                    obj.color = BarrageColor;
                    obj.sender = user;
                    //console.log(obj);
                    ws.send(JSON.stringify(obj));
                }
                else {
                    console.log('连接已经关闭');
                }

            });

            $('#btnReg').off('click').on('click', function () {
                var username = $('#txtRegUser').val();
                var password = $('#txtRegPass').val();
                var password2 = $('#txtRegPass2').val();
                if (username.length < 1 || password.length < 1) {
                    alert('用户名和密码长度不足');
                    return;
                }
                if (password != password2) {
                    alert('两次输入密码不一致');
                    return;
                }
                $.post('../api/User/Reg', { 'username': username, 'password': hex_md5(password) }, res => {
                    if (res.success) {
                        layer.closeAll();
                        Login(username, hex_md5(password),'15212310');//注册成功登录
                        layer.msg('注册成功');
                    } else {
                        alert(res.message);
                    }
                });
            });


            $('#btnLogin').off('click').on('click', function () {
                var username = $('#txtLoginUser').val();
                var password = $('#txtLoginPass').val();
                var code = $('#validCode').val();
                if (username == '' || password == ''||code=='') {
                    return;
                }
                Login(username, hex_md5(password),code);
            });

            $('.color_select').off('click').on('click', function (e) {
                //console.log(e);
                $('.color_select.active').removeClass('active');
                //console.log($(e.target).attr('color'));
                $(e).addClass('active');
                BarrageColor = $(e.target).addClass('active').attr('color');
            });

            $('#guanzhu').off('click').on('click', function (e) {
                var ele = $(e.target);
                if (ele.text() == '关注') {
                    ele.removeClass('guanzhu').addClass('yiguanzhu').text('已关注');
                    //处理关注逻辑
                } else {
                    ele.removeClass('yiguanzhu').addClass('guanzhu').text('关注');
                    //处理取关逻辑
                }
            });

            if (user != '') {
                ShowAfterLogin();
            }
        });

        function Login(username , pwd ,code) {
            $.post('../api/User/Login', {
                'username': username, 'password': pwd,
                'code': code
            }, function(res) {
                if (res.success) {
                    layer.closeAll();
                    user = res.data.userName;
                    if (ws) {
                        _isMyReconnet = true;
                        ws.close();
                        initWS();
                    }
                    ShowAfterLogin();
                    //console.log(res);
                } else {
                    layer.msg(res.message);
                }
            });
        }

        function ShowAfterLogin() {
            $('#a_login,#a_reg,#_shuxian').hide();
            $('#a_user').text(user).show();
            $("#a_logout").show().off('click').on('click', function () {
                $.post('../api/User/LogOut', {}, function (res) {
                    if (res.success) {
                        $('#a_login,#a_reg,#_shuxian').show();
                        $('#a_logout,#a_user').hide();
                        user = '';
                        if (ws) {
                            _isMyReconnet = true;
                            ws.close();
                            initWS();
                        }
                    } else {
                        layer.msg(res.message);
                    }
                });
            });
        }

        function ShowLoginDlg() {
            $('#txtLoginUser').val('');
            $('#txtLoginPass').val('');
            $('#validCode').val('');
            $('#divReg').hide();
            $('#divLogin').show();
            layer.open({
                type: 1,
                title: '登录',
                content: $('#divLoginAndReg'),
                area: ['420px', '260px']

            });
        }

        function ShowRegDlg() {
            $('#txtRegUser').val('');
            $('#txtRegPass').val('');
            $('#txtRegPass2').val('');
            $('#divReg').show();
            $('#divLogin').hide();
            layer.open({
                type: 1,
                title: '注册账号',
                content: $('#divLoginAndReg'),
                area: ['420px', '255px']

            });
        }

    </script>


</body>
</html>
